<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='../stylesheets/bootstrap-responsive.css' />
      <link rel='stylesheet' href='../stylesheets/bootstrap.css' />
      <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <style>
          body{

          }
      </style>
  </head>
  <body>
  <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">

              <a class="navbar-brand" href="#">Ryron</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li ><a href="/index">Home</a></li>
                  <li class="active"><a href="/about">About</a></li>
                  <li ><a href="/contact">Contact</a></li>
              </ul>

          </div><!--/.nav-collapse -->
      </div>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
              <img src="/images/bg.jpg" alt="Third slide"  style="height: 500px; width: 100%;">
              <div class="container">
                  <div class="carousel-caption">
                      <h1>Example headline.</h1>
                      <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                      <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/images/bg.jpg" alt="Third slide"  style="height: 500px; width: 100%;">
              <div class="container">
                  <div class="carousel-caption">
                      <h1>Another example headline.</h1>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                  </div>
              </div>
          </div>
          <div class="item">
              <img src="/images/bg.jpg" alt="Third slide"  style="height: 500px; width: 100%;">
              <div class="container">
                  <div class="carousel-caption">
                      <h1>One more for good measure.</h1>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                  </div>
              </div>
          </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
  <div class="container">
      <div class="row">
          <div class="col-lg-4"><h4 class="text-success">Topview工作室招新网站</h4>
              <img src="/images/Topview.png" style="width: 100%; height: 200px;">
              <div> <label class="text-success">参与人数：</label><span>3人</span>&nbsp;&nbsp;&nbsp;<label class="text-success">时间：</label><span>15天</span></div>
              <div><label class="text-success">负责方向：</label><span>网站的设计及制作（包括pc端、手机端）</span></div>
              <div><label class="text-success">项目简介：</label><span>为团队制作官方网站，方便其他企业或个人通过网站了
解topview团队的发展，团队的成员，毕业师兄的就业情况，以及团
队的主要发展方向。并在官网上添加网上报名功能，方便学生通过网
上填写表单进行报名</span></div>
              <p><a class="btn btn-primary" href="#" role="button">read more &raquo;</a></p>
          </div>
          <div class="col-lg-4">

              <h4  class="text-success">广州外国语学校网上报名系统</h4>
              <img src="/images/school.png" style="width: 100%; height: 200px;">
              <div> <label class="text-success">参与人数：</label><span>3人</span>&nbsp;&nbsp;&nbsp;<label class="text-success">时间：</label><span>15天</span></div>
              <div><label class="text-success">负责方向：</label><span>网站的设计及制作</span></div>
              <div><label class="text-success">项目简介：</label><span>介绍学校的招生计划，家长同过网站可以了解学校最新的
招生信息，学校的规模，师资情况；学生和家长登录查询信息，学生
或家长通过输入相关信息查询是否报名成功，是否被学校录取；打印
准考证，教师查询相关学生信息，确认通过后打印准考证</span></div>
              <p><a class="btn btn-primary" href="#" role="button">read more &raquo;</a></p>
          </div>
          <div class="col-lg-4">
              <h4  class="text-success">省气象局--网上办事系统</h4>
              <img src="/images/sheng.png" style="width: 100%; height: 200px;">
              <div> <label class="text-success">参与人数：</label><span>7人</span>&nbsp;&nbsp;&nbsp;<label class="text-success">时间：</label><span>15天</span></div>
              <div><label class="text-success">负责方向：</label><span>主要负责界面的美化、部分功能的添加</span></div>
              <div><label class="text-success">项目简介：</label><span>对网申单位的申请资料进行审批。主要功能：每个申请事
项都要经历过预受理--->窗口审核确认--->专业审核--->复核---->领
导签批--->申请办结</span></div>
              <p><a class="btn btn-primary" href="#" role="button">read more &raquo;</a></p>
          </div>
      </div>
  </div>

      <div class="container">
          <div class="row">
              <p class="col-md-3 col-md-offset-3" >CopyRight@Ryron.Hung@gmail.com</p>
          </div>

      </div>

  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>